{% extends "base.html" %} {% block content %}
<h2 align="center">Stream here</h2>
<form action="{% url 'stream' %}" method='post'>{% csrf_token %}
    <input class="form-control input-sm" id="keyword" name='keyword' type="text" placeholder="keyword"><br>
    <input class="form-control input-sm" id="time" name='time' type="text" placeholder="time(sec)"><br>
    <input class="form-control input-sm" id="count" name='count' type="text" placeholder="count"><br>
    <p align="center"><input type="submit" value="Search" class="btn btn-dark" ></p>
</form>
{% endblock %}