{% extends "base.html" %} {% block content %}
{{ "Filter Tweet by: " }}
<br>
<form action="filter" method='post'>{% csrf_token %}
    <select name="filterValue1" class="btn btn-dark"'>
        <option value="name">User_Name</option>
        <option value="sname">Screen_name</option>
        <option value="ttxt">Tweet_text</option>
        <option value="user_mention">User_Mention</option>
        <option value="location">Location</option>
        <option value="hashtag">Hashtag</option>
        <option value="language">Tweet Language</option>
    </select>
    <select name="textFilterType" class="btn btn-dark">
        <option value="ct">Contains</option>
        <option value="em">Exact match</option>
        <option value="sw">Start with</option>
        <option value="ew">End with</option>
       
    </select>
    <br>
    <input class="form-control input-sm" id="Search" name='Search' type="text" placeholder="Type for Search">
        <br>
        <select name="filterValue2" class="btn btn-dark"'>
        <option value="followers">Follower</option>
        <option value="tfavcount">Tweet Favorite_count</option>
        <option value="ufavcount">Users Favorite_count</option>
        <option value="rtcount">Retweet_Count</option>
        <option value="start_date">Start_date</option>
        <option value="end_date">End_date</option>
    </select>
    <select name="numFilterType" class="btn btn-dark"'>
            <option value="none">None/Equal</option>
            <option value="ge">greater than or equal to</option>
            <option value="le">less than or equal to</option>numFilterType == 'eq'
        </select>
        <input type="text" id="Search1" name='Search1' class="form-control input-sm" placeholder="Type for Search ( For date : yyyy-mm-dd)">
        <br>
        <br>
        <!-- {{ 'Sort Data by: ' }}
    <br>
    <select name="order" class="btn btn-dark"'>
        <option value="as">Ascending order</option>
        <option value="dc">Descending order</option>
    </select>
    <select name="sortField" class="btn btn-dark"'>
        <option value="name">User_Name</option>
        <option value="ttxt">Tweet_text</option>
        <option value="followers">Follower</option>
        <option value="favcount">Favorite_count</option>
        <option value="rtcount">Retweet_Count</option>
        <option value="date">Date</option>
    </select>
    <br>
    <br><br>
    {{ 'Want CSV Export : '}}
    <br> -->
        <!-- Default unchecked
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="defaultUnchecked" name="unchecked">
        <label class="custom-control-label" value="uncheck" for="defaultUnchecked">NO CSV EXPORT</label>
    </div>

    <!-- Default checked 
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="defaultChecked" name="checked" >
        <label class="custom-control-label" value="checked" for="defaultChecked">CSV EXPORT</label>
    </div> 
    <br> -->
        <input type="submit" value="Search">
</form>
<br>
{% endblock %}