{% extends "base.html" %} {% block content %}
<h3>Filter Tweet by: </h3>
<br>
<form action="filter" method='post'>{% csrf_token %}
    <h4>Name :</h4><input class="form-control input-sm" id="name" name='name' type="text" placeholder="Type Name"> 
    <h4>Tweet :</h4><input class="form-control input-sm" id="text" name='text' type="text" placeholder="Type for text"> 
    <h4>Location :</h4><input class="form-control input-sm" id="location" name='location' type="text" placeholder="Type for location"> 
    <h4>Language :</h4><input class="form-control input-sm" id="language" name='language' type="text" placeholder="Type for language"> 
    <h4>Retweet count :</h4>
    <select name="numFilterType1" class="btn btn-dark"'>
        <option value="none">None/Equal</option>
        <option value="ge">greater than or equal to</option>
        <option value="le">less than or equal to</option>numFilterType == 'eq'
    </select>
    <input class="form-control input-sm" id="rtcount" name='rtcount' type="text" placeholder="Type for retweet_count">
    <h4>Followers :</h4>
    <select name="numFilterType2" class="btn btn-dark"'>
        <option value="none">None/Equal</option>
        <option value="ge">greater than or equal to</option>
        <option value="le">less than or equal to</option>numFilterType == 'eq'
    </select>
    <input class="form-control input-sm" id="followers" name='followers' type="text" placeholder="Type for follower"> 
    <h4>Date :</h4>
    <h5>Start Date :</h5><input class="form-control input-sm" id="startdate" name='startdate' type="text" placeholder="Type for startdate">
    <h5>End Date :</h5>
    <input class="form-control input-sm" id="enddate" name='enddate' type="text" placeholder="Type for enddate"> 
    <h4>Favourite count :</h4>
    <select name="numFilterType3" class="btn btn-dark"'>
        <option value="none">None/Equal</option>
        <option value="ge">greater than or equal to</option>
        <option value="le">less than or equal to</option>numFilterType == 'eq'
    </select>
    <input class="form-control input-sm" id="favcount" name='favcount' type="text" placeholder="Type for tweet_favcount">
    <br>
    
  <h3>Sort Data by: </h3>
    <br>
    <select name="order" class="btn btn-dark"'>
        <option value="as">Ascending order</option>
        <option value="dc">Descending order</option>
    </select>
    <select name="sortField" class="btn btn-dark"'>
        <option value="name_lower">name</option>
        <option value="text_lower">text</option>
        <option value="location_lower">location</option>
        <option value="retweet_count">retweet_count</option>
        <option value="created_at">created_at</option>
        <option value="followers_count ">followers_count</option>
        <option value="favourites_count ">favourites_count</option>
        favourites_count
    </select>
    <br>
    <br><br> 
    <h3>Want CSV Export : </h3>
    <br>  
    <!-- Default unchecked-->
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="defaultUnchecked" name="unchecked">
        <label class="custom-control-label" value="uncheck" for="defaultUnchecked">NO CSV EXPORT</label>
    </div>

    <!-- Default checked -->
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="defaultChecked" name="checked" >
        <label class="custom-control-label" value="checked" for="defaultChecked">CSV EXPORT</label>
    </div>
    <br>
    <input type="submit" value="Search">
</form> 
<br>
{% endblock %}